
Командная работа/.vs/Командная работа/v15/Server/sqlite3/storage.ide-wal
Командная работа/.vs/Командная работа/v15/Server/sqlite3/storage.ide-shm
Командная работа/.vs/Командная работа/v15/Server/sqlite3/storage.ide
Командная работа/.vs/Командная работа/v15/Server/sqlite3/db.lock
